@import 'tailwindcss';
@import 'tw-animate-css';

@layer l-base {
  :root {
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 333 100% 50%;
    --accent: 217 91% 60%;
  }
}

html body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

/* Code block container */
.nextra-code > div:first-child {
  background-color: hsl(var(--primary) / 0.1);
  border: none;
}

.nextra-code pre {
  background-color: hsl(var(--primary) / 0.05);
  box-shadow: none;
}
